<!-- header --- START  -->

  <div class="container-wrap grid-container">
    <div class="header-brand">
      <h1 class="brand">
        <a href="javascript:;">Project</a>
      </h1>
      <div role="presentation" class="dropdown">
        <button type="button" class="dropdown-toggle" data-toggle="dropdown" role="button">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa-solid fa-user"></i>
        </button>
        <div class="dropdown-menu">
          <div class="btn-group btn-group-justified" role="group">
            <button type="button" class="btn btn-default active">Msgs (14)</button>
            <button type="button" class="btn btn-default">Notify (3)</button>
            <button type="button" class="btn btn-default">Tasks (4)</button>
          </div>
        </div>
      </div>
    </div>

    <div class="project-contexts dropdown">
      <span class="label">PROJECTS</span>
      <span class="project-selector dropdown-toggle" data-toggle="dropdown">
        Recent projects
        <i class="fa-solid fa-chevron-down"></i>
      </span>
      <ul class="dropdown-menu">
        <li>
          <a href="javascript:;">Online e-merchant management system - attaching integration with the iOS</a>
        </li>
        <li>
          <a href="javascript:;">Notes on pipeline upgradee</a>
        </li>
        <li>
          <a href="javascript:;">Assesment Report for merchant account</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="javascript:;"><i class="fa-solid fa-power-off"></i> Clear</a>
        </li>
      </ul>
    </div>

    <div class="header-end">
      <form class="searchbar" action="javascript:;" method="post">
        <input type="text" name="" id="" placeholder="Find reports and more" autocomplete="off">
        <button type="submit" class="btn">
          <span class="sr-only">Submit</span>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <button type="button" onclick="toggleDarkMode()" class="btn">
        <span class="sr-only">Toggle darkmode</span>
        <i class="fa-solid fa-circle-half-stroke"></i>
      </button>
      <button type="button" onclick="toggleFullScreen()" class="btn">
        <span class="sr-only">Toggle fullscreen</span>
        <i id="fullscreen-icon" class="fa-solid fa-expand"></i>
      </button>
      <button type="button" class="btn">
        <span class="sr-only">Logout</span>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
  </div>

<!-- header --- END  -->