<div class="panel-group " id="accordion" role="tablist" aria-multiselectable="false">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#dashboard"><i class="fa-solid fa-house"></i><label class="menu-item">Dashboard</label>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="dashboard" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Social Wall</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#intel"><i class="fa-solid fa-cube"></i><label class="menu-item">Intel</label>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="intel" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="#">App Layouts</a></li>
          <li><a href="#">Prebuilt Skins</a></li>
          <li><a href="#">App Variations</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#outlook"><i class="fa-solid fa-inbox"></i><label class="menu-item">Outlook</label>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="outlook" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="#">Inbox</a></li>
          <li><a href="#">Email view</a></li>
          <li><a href="#">Compose</a></li>
          <li><a href="#">Reply</a></li>
          <li><a href="#">Email Templates</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#graphs"><i class="fa-solid fa-chart-column"></i><label class="menu-item">Graphs</label>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="graphs" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="#">Flot Chart</a></li>
          <li><a href="#">Morris Charts</a></li>
          <li><a href="#">Sparklines</a></li>
          <li><a href="#">EasyPieCharts</a></li>
          <li><a href="#">Dygraphs</a></li>
          <li><a href="#">Chart.js</a></li>
          <li><a href="#">HighchartTable</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#tables"><i class="fa-solid fa-table"></i><label class="menu-item">Tables</label>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="tables" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="#">Normal Tables</a></li>
          <li><a href="#">Data Tables</a></li>
          <li><a href="#">Jquery Grid</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#forms"><i class="fa-solid fa-pen-to-square"></i><label class="menu-item">Forms</label>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="forms" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="#">Form Elements</a></li>
          <li><a href="#">Form Layouts</a></li>
          <li><a href="#">Form Validation</a></li>
          <li><a href="#">Bootstrap Form Elements</a></li>
          <li><a href="#">Bootstrap Form Validation</a></li>
          <li><a href="#">Bootstrap Editors</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#uiElements"><i class="fa-solid fa-desktop"></i><label class="menu-item">UI Elements</label>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="uiElements" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="#">General Elements</a></li>
          <li><a href="#">Buttons</a></li>
          <li>
            <a role="button" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <label class="menu-item">Icons</label>
              <span class="toggle-check">
                <i class="fa-regular fa-square-plus"></i>
              </span>
            </a>
            <ul id="icons" class="list-unstyled collapse">
              <li><a href="#"><i class="fa-solid fa-font-awesome"></i>Font Awesome</a></li>
              <li><a href="#"><i class="fa-solid fa-plane"></i>Glyph Icons</a></li>
              <li><a href="#"><i class="fa fa-flag"></i>Flags</a></li>
            </ul>
          </li>
          <li><a href="#">Grid</a></li>
          <li><a href="#">Tree View</a></li>
          <li><a href="#">Nestable Lists</a></li>
          <li><a href="#">JQuery UI</a></li>
          <li><a href="#">Typography</a></li>
          <li>
            <a role="button" data-toggle="collapse" href="#sixLevelMenu" aria-expanded="false" aria-controls="sixLevelMenu">
              <label class="menu-item">Six Level Menu</label>
              <span class="toggle-check">
                <i class="fa-regular fa-square-plus"></i>
              </span>
            </a>
            <ul id="sixLevelMenu" class="list-unstyled collapse">
              <li><a href="#"><i class="fa fa-fw fa-box-open"></i>Item #1</a></li>
              <li>
                <a role="button" data-toggle="collapse" href="#item2" aria-expanded="false" aria-controls="item2">
                  <i class="fa fa-fw fa-dolly"></i>
                  <label class="menu-item">Item #2</label>
                  <span class="toggle-check">
                    <i class="fa-regular fa-square-plus"></i>
                  </span>
                </a>
                <ul id="item2" class="list-unstyled collapse">
                  <li><a href="#">Sub #1</a></li>
                  <li><a href="#">Sub #2</a></li>
                  <li>
                    <a role="button" data-toggle="collapse" href="#sub3" aria-expanded="false" aria-controls="sub3">
                      <label class="menu-item">Sub #3</label>
                      <span class="toggle-check">
                        <i class="fa-regular fa-square-plus"></i>
                      </span>
                    </a>
                    <ul id="sub3" class="list-unstyled collapse">
                      <li><a href="#"><i class="fa-solid fa-plus"></i>Expand</a><li>
                      <li><a href="#"><i class="fa-regular fa-file"></i>File</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-fw fa-cookie-bite"></i>Item #3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a href="#"><i class="fa-solid fa-list-alt"></i><span class="menu-item">Widgets</span></a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#features"><i class="fa-solid fa-cloud"></i><span class="menu-item">Cool Features!</span>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="features" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa fa-lg fa-fw fa-calendar"></i>Calendar</a></li>
          <li><a href="#"><i class="fa fa-lg fa-fw fa-map-marker"></i>GMap Skins</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    const initPanel = $('.panel-group').children().first();
    initPanel.find('.panel-heading a').addClass('active').attr('aria-expanded', 'true').find('.toggle-check i').removeClass('fa-square-plus').addClass('fa-square-minus');
    initPanel.find('.panel-collapse').attr('aria-expanded', 'true').addClass('in');
    initPanel.find('.panel-body li').first().children().addClass('active');

    $('.panel a').click(function() {
      const currentPanel = $(this).closest('.panel');
      const currentList = $(this).closest('ul').siblings();
      const currentParent = currentList.closest('ul').siblings();
      const currentGrandParent  = currentParent.closest('ul').siblings();

      // menu tab click event
      if ($(this).not('[aria-expanded="true"]').length > 0) {
        const currentSiblings = $(this).closest('li').siblings();
        currentSiblings.find('[aria-expanded="true"]').attr('aria-expanded', 'false').removeClass('in');

        currentPanel.parent().find('.toggle-check i').removeClass('fa-square-minus').addClass('fa-square-plus');
        $(this).find('.toggle-check i').removeClass('fa-square-plus').addClass('fa-square-minus');
      }

      // menu link click event
      if ($(this).not('[role="button"]').length > 0) {
        currentPanel.parent().find('a').removeClass('active');

        currentPanel.find('.panel-heading a').addClass('active');
        currentList .addClass('active');
        currentParent.addClass('active');
        currentGrandParent.addClass('active');
        $(this).addClass('active');
        
        currentPanel.parent().find('.active').find('.toggle-check i').removeClass('fa-square-plus').addClass('fa-square-minus');


        // ribbon menu 
        const currentPathList = $('.panel-group').find('.active label');
        const currentPathListTexts = currentPathList.map(function() {
            return $(this).text();
        }).get().concat($(this).text());

        const ribbonList = $('#ribbon ul');
        ribbonList.children(':not(.default)').remove();

        for (let i = 0; i < currentPathListTexts.length; i++) {
          const path = currentPathListTexts[i];
          const newListItem = $('<li>').text(path);

          ribbonList.append(newListItem);
        }
        
      }
    });

  });
</script>