<div class="panel-group " id="accordion" role="tablist" aria-multiselectable="false">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#dashboard"><i class="fa-solid fa-house"></i> <span class="menu-item">Dashboard</span>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="dashboard" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="javascript:;">Analytics</a></li>
          <li><a href="javascript:;">Marketing</a></li>
          <li><a href="javascript:;">Social Wall</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#intel"><i class="fa-solid fa-cube"></i> <span class="menu-item">Intel</span>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="intel" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="javascript:;">App Layouts</a></li>
          <li><a href="javascript:;">Prebuilt Skins</a></li>
          <li><a href="javascript:;">App Variations</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#outlook"><i class="fa-solid fa-inbox"></i> <span class="menu-item">Outlook</span>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="outlook" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="javascript:;">Inbox</a></li>
          <li><a href="javascript:;">Email view</a></li>
          <li><a href="javascript:;">Compose</a></li>
          <li><a href="javascript:;">Reply</a></li>
          <li><a href="javascript:;">Email Templates</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#graphs"><i class="fa-solid fa-chart-column"></i> <span class="menu-item">Graphs</span>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="graphs" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="javascript:;">Flot Chart</a></li>
          <li><a href="javascript:;">Morris Charts</a></li>
          <li><a href="javascript:;">Sparklines</a></li>
          <li><a href="javascript:;">EasyPieCharts</a></li>
          <li><a href="javascript:;">Dygraphs</a></li>
          <li><a href="javascript:;">Chart.js</a></li>
          <li><a href="javascript:;">HighchartTable <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#tables"><i class="fa-solid fa-table"></i> <span class="menu-item">Tables</span>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="tables" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="javascript:;">Normal Tables</a></li>
          <li><a href="javascript:;">Data Tables</a></li>
          <li><a href="javascript:;">Jquery Grid</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#forms"><i class="fa-solid fa-pen-to-square"></i> <span class="menu-item">Forms</span>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="forms" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="javascript:;">Form Elements</a></li>
          <li><a href="javascript:;">Form Layouts</a></li>
          <li><a href="javascript:;">Form Validation</a></li>
          <li><a href="javascript:;">Bootstrap Form Elements</a></li>
          <li><a href="javascript:;">Bootstrap Form Validation</a></li>
          <li><a href="javascript:;">Bootstrap Editors</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#uiElements"><i class="fa-solid fa-desktop"></i> <span class="menu-item">UI Elements</span>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="uiElements" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="javascript:;">General Elements</a></li>
          <li><a href="javascript:;">Buttons</a></li>
          <li>
            <a role="button" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">Icons
              <span class="toggle-check">
                <i class="fa-regular fa-square-plus"></i>
              </span>
            </a>
            <ul id="icons" class="list-unstyled collapse">
              <li><a href="javascript:;"><i class="fa-solid fa-font-awesome"></i> Font Awesome</a></li>
              <li><a href="javascript:;"><i class="fa-solid fa-plane"></i> Glyph Icons</a></li>
              <li><a href="javascript:;"><i class="fa fa-flag"></i> Flags</a></li>
            </ul>
          </li>
          <li><a href="javascript:;">Grid</a></li>
          <li><a href="javascript:;">Tree View</a></li>
          <li><a href="javascript:;">Nestable Lists</a></li>
          <li><a href="javascript:;">JQuery UI</a></li>
          <li><a href="javascript:;">Typography</a></li>
          <li>
            <a role="button" data-toggle="collapse" href="#sixLevelMenu" aria-expanded="false" aria-controls="sixLevelMenu">Six Level Menu
              <span class="toggle-check">
                <i class="fa-regular fa-square-plus"></i>
              </span>
            </a>
            <ul id="sixLevelMenu" class="list-unstyled collapse">
              <li>
                <a role="button" data-toggle="collapse" href="#item2" aria-expanded="false" aria-controls="item2"><i class="fa fa-fw fa-folder-open"></i> Item #2</a>
                <ul id="item2" class="list-unstyled collapse">
                  <li>
                    <a role="button" data-toggle="collapse" href="#sub2-1" aria-expanded="false" aria-controls="sub2-1"><i class="fa fa-fw fa-folder-open"></i> Sub #2.1</a>
                    <ul id="sub2-1" class="list-unstyled collapse">
                      <li><a href="javascript:;"><i class="fa fa-fw fa-file-text"></i> Item #2.1.1</a></li>
                      <li><a href="javascript:;"><i class="fa fa-fw fa-plus"></i> Expand<b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a><ul>
                      <li><a href="javascript:;"><i class="fa fa-fw fa-file-text"></i> File</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="javascript:;"><i class="fa fa-fw fa-folder-open"></i> Item #3</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a href="javascript:;"><i class="fa-solid fa-list-alt"></i> <span class="menu-item">Widgets</span></a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#features"><i class="fa-solid fa-cloud"></i> <span class="menu-item">Cool Features!</span>
        <span class="toggle-check">
          <i class="fa-regular fa-square-plus"></i>
        </span>
      </a>
    </div>
    <div id="features" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="javascript:;"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">Calendar</span></a></li>
          <li><a href="javascript:;"><i class="fa fa-lg fa-fw fa-map-marker"></i> <span class="menu-item-parent">GMap Skins</span><span class="badge bg-color-greenLight pull-right inbox-badge">9</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    const initPanel = $('.panel-group').children().first();
    initPanel.find('.panel-heading a').addClass('active').attr('aria-expanded', 'true').find('.toggle-check i').removeClass('fa-square-plus').addClass('fa-square-minus');
    initPanel.find('.panel-collapse').attr('aria-expanded', 'true').addClass('in');
    initPanel.find('.panel-body li').first().children().addClass('active');

    $('.panel a').click(function() {
      if ($(this).not('[aria-expanded="true"]').length > 0) {
        $(this).find('.toggle-check i').removeClass('fa-square-plus').addClass('fa-square-minus');

        $(this).closest('li').siblings().children();
        $(this).closest('.panel').siblings().find('.toggle-check i').removeClass('fa-square-minus').addClass('fa-square-plus');
      }

      if ($(this).not('[role="button"]').length > 0) {
        $(this).closest('.panel').find('.panel-heading a').addClass('active');
        $(this).closest('ul').siblings().addClass('active');
        $(this).closest('ul').parent().siblings().find('a').removeClass('active');
        $(this).closest('li').siblings().find('a').removeClass('active');
        $(this).addClass('active');
        $(this).closest('.panel').siblings().find('a').removeClass('active');
        console.log("link-click");
      }
    });

  });
</script>