*,
*::before,
*::after { box-sizing:border-box; margin:0; padding:0; } 

html { -moz-text-size-adjust:none; -webkit-text-size-adjust:none; text-size-adjust:none; } 

body,
h1,
h2,
h3,
h4,
p, 
figure,
blockquote,
dl,
dd { margin-block-end:0; } 

ul,
ol,
li { list-style:none; margin:0; padding:0; } 

body { font-family:"Noto Sans Korean", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-weight:300; min-height:100vh; line-height:1.5; } 

h1,
h2,
h3,
h4,
button,
input,
label { line-height:1.1; } 

h1,
h2,
h3,
h4 { text-wrap:balance; } 

a { outline:0; }
a:not([class]) { text-decoration-skip-ink:auto; color:currentColor; } 

img,
picture { max-width:100%; display:block; } 

input,
button,
textarea,
select { font:inherit; outline:0; } 

textarea:not([rows]) { min-height:10em; } 

:target { scroll-margin-block:5ex; } 

body.index #project-group { position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); }
body:not(.index) #project-group select { width:100%; }